#qd_container {
  max-width: 1100px;
  width: calc(100% - 164px);
  padding: 24px 16px;
  min-width: 660px;
  display: block;
}
#qd_container_boardMain {
  max-width: 1100px;
  width: calc(100% - 164px);
  padding: 24px 16px;
  min-width: 660px;
  display: flex;
}

.qd_upper_main_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
.qd_upper_main_wrapper > h1 {
  display: flex;
  justify-content: flex-start;
}
.qd_upper_main_wrapper > h1 > a {
  font-size: 27px;
  color: black;
}

.qd_upper_detail_wrapper {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #d6d9dc;
}

.qd_upper_detail_wrapper > div {
  margin: 0px 16px 8px 0px;
  font-size: 13px;
}

.qd_upper_detail_wrapper > div > span {
  margin-right: 2px;
}

#qd_ask_buton {
  font-size: 13px;
  width: 103px;
  background-color: #0a95ff;
  border: 0.5px solid #0a95ff;
  color: white;
  white-space: nowrap;
  margin-left: 12px;
  height: 100%;
}
#qd_ask_buton:hover {
  background-color: #0074cc;
}
/* lower div 시작 */
#qd_lower_container {
  display: flex;
}

#qd_lower_left_container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  align-items: stretch;
}

.qd_lower_vote {
  display: flex;
  flex-direction: column;
  width: 52px;
  padding-right: 16px;
  justify-content: flex-start;
  align-items: center;
}
.qd_lower_vote > i {
  color: #babfc3;
}

.qd_lower_vote > i:hover {
  color: #babfc3;
  cursor: pointer;
}

.qd_lower_vote > span {
  color: #6a737c;
  font-size: 21px;
  margin: -13px 0px;
}

.qd_lower_question_container {
  display: flex;
}

.qd_lower_content {
  word-wrap: break-word;
}
.qd_lower_content > * {
  word-wrap: break-word;
}

.qd_lower_content_detail {
  word-wrap: break-word;
}

.qd_lower_tags {
  display: flex;
  justify-content: flex-start;
  margin: 24px 0px 12px 0px;
}

.qd_lower_tags > a {
  margin: 2px 2px 2px 0px;
  border: 1px;
  padding: 4.8px 6px;
  background-color: #e1ecf4;
  color: #3c759e;
  font-size: 12px;
}

.qd_lower_info {
  display: flex;
  margin: 16px 0px;
  padding-top: 4px;
  justify-content: space-between;
  align-items: stretch;
}

.qd_lower_info_control,
.qd_lower_info_modified {
  display: flex;
  justify-content: flex-start;
  padding-top: 2px;
}

.qd_lower_info_control,
.qd_lower_info_modified {
  margin: 4px;
  font-size: 12px;
}

.qd_lower_info_control > a,
.qd_lower_info_modified > a {
  margin: 4px;
  font-size: 12px;
  color: black;
}

.qd_lower_answer_container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.qd_lower_answer_header {
  margin: 10px 0px 8px 0px;
  display: flex;
  justify-content: flex-start;
}
.qd_lower_title {
  font-size: 19px;
}

.qd_lower_answer_wrapper {
  display: flex;
  padding: 16px 0px;
  border-bottom: 1px solid #e8eaec;
}
.qd_lower_content_wrapper {
  width: calc(100% - 50px);
  min-width: 300px;
}

#qd_lower_input_container {
  display: flex;
  flex-direction: column;
}
.qd_lower_input_header_title {
  padding-top: 20px;
  margin-bottom: 19px;
  font-size: 19px;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox > button {
  width: 140px;
  padding: 10.4px;
  font-size: 13px;
  margin: 10px 0px 12px 0px;
  background-color: #0995fe;
  color: white;
  border: #0995fe;
  border-radius: 0.5em;
}
.ck-editor__editable {
  height: 100%;
}

/* lower div 끝 */

#qd_lower_right_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* 임의값 -> */
  height: 1000px;
  /* <- 임의값 */
  margin: 0px 0px 15px 24px;
}

.qd_lower_rigth_widget_container {
  margin-bottom: 12px;
}

.qd_lower_rigth_widget {
  padding-left: 0px;
  background-color: #fdf7e2;
  border: 1px solid #f1e3bb;
  padding-bottom: 12px;
}

.qd_lower_rigth_widget > li {
  list-style: none;
  display: flex;
}

.qd_lower_rigth_widget > li > i {
  width: 15px;
  padding-top: 5px;
}

.qd_lower_rigth_widget > li > a {
  margin-left: 7px;
  color: black;
}

.qd_lower_rigth_widget_main {
  border-top: 1px solid #f1e3bb;
  border-bottom: 1px solid #f1e3bb;
  padding: 12px 15px;
  font-size: 12px;
  background-color: #fbf2d5;
  font-weight: bold;
}

.qd_lower_rigth_widget:first-child {
  border-top: 0px;
}

.qd_lower_rigth_widget_sub {
  margin: 12px 0px;
  padding: 0px 16px;
  font-size: 13px;
  background-color: #fdf7e2;
}

.qd_lower_info_users {
  margin: 4px 0px;
  padding: 5px 6px 7px 7px;
  font-size: 12px;
  background-color: #d9e9f7;
  border-radius: 0.5em;
  width: 200px;
}

.qd_lower_info_users_time {
  margin: 1px 0px 4px 0px;
  color: #7d8790;
}
.qd_lower_info_users_details_name {
  margin-left: 8px;
}